/* Navbar CSS */

@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');


nav {
    /* background-color: red; */
    width: 100%;
    height: 100px;
    display: inline-flex;
}

.nav_img {
    margin-left: 25px;
    margin-top: 30px;
}

.nav_logo {
    width: 100px;
    height: 40px;
}

.nav_btn {
    margin-left: 80px;
    margin-top: 20px;
}

.home_btn {
    width: 100px;
    height: 40px;
    border-color: transparent;
    background-color: transparent;
    border-radius: 30px;
}

.buy_btn {
    width: 120px;
    height: 50px;
    border-color: transparent;
    background-color: transparent;
}

.live_btn {
    width: 120px;
    height: 50px;
    border-color: transparent;
    background-color: transparent;
}

.trade_btn {
    width: 100px;
    height: 40px;
    border-color: transparent;
    background-color: transparent;
}

.trade_btn:hover {
    border-color: transparent;
    background-color: transparent;
}

.contact_btn {
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border-color: purple;
    background-color: purple;
}

.download_btn {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border-color: purple;
    background-color: purple;
}

.fa-angle-down {
    margin-left: 10px;
}

.home_deco {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Unbounded', cursive;
    font-size: 10px;
    color: purple;
}

.buy_deco {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Unbounded', cursive;
    font-size: 10px;
    color: purple;
}

.live_deco {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Unbounded', cursive;
    font-size: 10px;
    color: purple;
}

.trade_deco {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Unbounded', cursive;
    font-size: 10px;
    color: purple;
}

.contact_deco {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Unbounded', cursive;
    font-size: 10px;
    color: white;
}

.download_deco {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Unbounded', cursive;
    font-size: 10px;
    color: white;
}

.nav_social {
    margin-top: 37px;
    
}

.fa {
    color: purple;
}

.fa-twitter {
    margin-left: 50px;
}

.fa-instagram {
    margin-left: 50px;
}

.fa-linkedin {
    margin-left: 50px;
}

.div-body {
    width: 100%;
    height: auto;
    background-color: royalblue;
    display: flex;
}



.text-body {
    margin-left: 100px;
}

#name {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border-color: purple;
    outline: none;
}

#email {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border-color: purple;
    outline: none;
}

#textarea {
    width: 500px;
    border-radius: 20px;
    border-color: purple;
    outline: none;
}